.App {
  text-align: center;
  width: auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.footer {
   text-align: center;
   width: 100%;
   height: 100px;
   position: fixed;
   display: table-footer-group;
   left: 0px;
   bottom: 0px;
   right: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  top: 0px;
  left: 47%;
  right: 10px;
  height: 80px;
  position: fixed;
  display: auto;
  z-index: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
